<div class="page-header">
	<div class="pull-right">
		<%= link_to 'New Location', new_location_path, class: "btn btn-primary"%>
	</div>
	<h1>Locations</h1>
</div> 

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Zipcode</th>
		<th> </th>
		<th> </th>
		<th> </th>
	</tr>
		

	<tbody>
		<% @locations.each do |location| %> 
	<tr>
		<td><%= link_to location.name, location_path(location)  %> </td> 
		<td><%= location.address %></td>
		<td><%= location.zipcode %></td>
				
			<td>
          	<%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %> 
          	</td>
			<td>
			<%= link_to 'Edit', edit_location_path(location), class: "btn btn-info"%>
			</td>
			<td>
			<%= link_to 'Create Event', new_location_event_path(location), class: "btn btn-info"%>
			</td>
			</div>
	</tr>
			<% end %> 

			</tbody>



</table>

















