<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New Location', new_location_path, class: "btn btn-primary"%>
  </div>
  <h1><%= @location.name %></h1>
</div> 

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Event Address</th>
      <th>Event Zipcode</th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
    
  <tbody>
    <% @location.events.each do |event| %> 
  <tr>
    <td><%= link_to event.description, location_event_path(@location, event)  %> </td> 
    <td><%= event.date %></td>
    <td><%= event.requires_id %></td>
        
      <td>
      <%= link_to 'Delete', location_event_path(@location, event), method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %> 
      </td>
      <td>
      <%= link_to 'Edit', edit_location_event_path(@location, event), class: "btn btn-info"%>
      </td>
      <td>
      <%= link_to 'Create Event', new_location_event_path(@location), class: "btn btn-info"%>
      </td>

  </tr>
      <% end %> 

      </tbody>



</table>





